.main-content {
  background: #98d6e9d8;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
.body-content {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  margin: 48px 80px;
  display: flex;
  flex-direction: row;
  border-radius: 25px;
  overflow: hidden;
}
.sign-content {
  overflow: auto;
  width: 40%;
  display: flex;
  flex-direction: column;
  padding: 24px 80px;
  background: #fff;
  justify-content: center;
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .title {
    text-align: start;
    margin: 18px 0px;
    h2 {
      font-family: sans-serif;
    }
  }
}
.promotion {
  width: 60%;
  display: flex;
  flex-direction: column;
  background: black;
  color: white;
  overflow: auto;
  .p-header {
    display: flex;
    padding: 32px 24px;
    justify-content: end;
    align-items: center;
  }
  .p-body {
    display: flex;
    flex-direction: column;
    padding: 48px;
    .p-title {
      font-size: 25px;
      text-align: left;
    }
    .p-intro {
      display: flex;
      .p-empty {
        width: 50%;
      }
      .p-info {
        font-family: sans-serif;
        width: 50%;
        .intro1 {
          padding: 20px 0px;
          font-size: 24px;
        }
        .intro2 {
          padding: 18px 0px;
          font-size: 18px;
          opacity: 0.8;
        }
      }
    }
  }
}
.form-content {
  display: flex;
  flex-direction: column;
}
.form-group {
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
}
.m-label {
  color: black;
  font-weight: bold;
}
.form-control {
  border-radius: 5px;
  border: 1px solid #f7e5e5c7;
  padding: 4px;
  background: #f8f0da66;
  color: #000;
}
.form-control:focus {
  background: #e7e4b8;
  outline: none !important;
  border: 1px solid #f5ec6c;
  box-shadow: 0 0 16px #f0e98398;
}
.btn {
  border-radius: 4px;
  width: 100%;
  padding: 4px;
  text-align: center;
}
.btn-default {
  background: #ffab73;
  color: #ffffff;
  border: 2px solid #ffefe0;
}
.btn-default:hover {
  opacity: 0.8;
  box-shadow: 0 0 8px #ffab738f;
}
.form-row {
  display: flex;
  margin-top: 24px;
  flex-direction: row;
  justify-content: space-between;
}
.align-center {
  display: flex;
  align-items: center;
}
.invalid-input {
  border: 2px solid #fd0000 !important;
  box-shadow: 0 0 8px #ec8282b6 !important;
}
.link {
  text-decoration: none;
  color: #00d8ff;
}
@media screen and (max-width: 767px) {
    .body-content {
        margin: 20px !important;
    }
    .sign-content {
        width: 100% !important;
    }
    .sign-content {
      padding: 0px 16px;
    }
}