<div class="main-content">
    <div class="body-content">
        <div class="sign-content">
            <div class="logo">
                <app-logo [iData]="iDataLogo">
                </app-logo>
            </div>
            <div class="title">
                <h2>
                    Register to be a full stack developer
                </h2>
            </div>
            <form [formGroup]="mForm" (ngSubmit)="submit()">
                <div class="form-content">
                    <div class="form-group">
                        <label class="m-label" for="fullname">Full Name</label>
                        <input type="text" class="form-control" id="fullname" formControlName="fullname" required
                            name="Fullname" [class.invalid-input]="!f['fullname'].valid && mclickSumbmit">
                    </div>
                    <div class="form-group">
                        <label class="m-label" for="email">Email</label>
                        <input type="email" class="form-control" id="email" formControlName="email" required
                            name="Email" [class.invalid-input]="!f['email'].valid && mclickSumbmit">
                    </div>
                    <div class="form-group">
                        <label class="m-label" for="email">Password</label>
                        <input type="password" class="form-control" id="password" formControlName="password" required
                            name="Password" [class.invalid-input]="!f['password'].valid && mclickSumbmit">
                    </div>
                    <button type="submit" class="btn btn-default">Register</button>
                    <div class="form-row">
                        <div class="align-center">
                            <input type="checkbox" class="form-check" formControlName="remember">
                            <label class="m-label" for="email">remember</label>
                        </div>
                        <a href="#" target="_blank" class="link">New Action</a>
                    </div>
                </div>
            </form>
        </div>
        <div class="promotion" *ngIf="mShowPromotion">
            <div class="p-header">
                <span>
                    Promotion
                </span>
            </div>
            <div class="p-body">
                <div class="p-title">
                    <h1>
                        Register and get a free badge, increase you skill
                    </h1>
                </div>
                <div class="p-intro">
                    <div class="p-empty">
                    </div>
                    <div class="p-info">
                        <div class="intro1">
                            <span>
                                The value of being a software developer is very important, which is why we offer the appropriate training
                            </span>
                        </div>
                        <div class="intro2">
                            <span >
                                Get more information after registering
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
