<p>OBIWANNNNN</p>
<button (click)="closeWindow()"> close </button>
<br/>
<p >fullname: {{data.fullname}}</p>
<p >ci: {{data.ci}}</p>
<p >email: {{data.email}}</p>
<p >password: {{data.password}}</p>
<p >remember: {{data.remember}}</p>

<!--

1. Crear una rama llamada jose-dev
2. Crear una página de bienvenida en la que esté el nombre completo obtenido en el formulario del login.
3. Al hacer click en el botón login redireccionar a la página de bienvenida y enviar datos del login por endpoint e ir a la pagina de bienvenida
4. Subir cambios a la rama jose-dev
5. Crear un PR con ese rama
6. Enviar link del PR
carlos.avalos@sommosapp.com

-->
